{% extends "base.html" %}
{% block title %}Attendance Map{% endblock %}
{% block content %}
        <div style="height:100%; width:100%;">
         <div id="map"></div>
    </div>

    <script>
    var center = {
        "lat": {{ center.Latitude }},
        "lng": {{ center.Longitude }}
    };
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: center
        });

        var windows = [];
        var markers = [];
        {% for key in zip_counts %}
            windows[{{ forloop.counter0 }}] = new google.maps.InfoWindow({
                content: "{{ zip_counts|get_count:key }}"
            });
        {% endfor %}
        {% for key, value in zips.items %}

            markers[{{ forloop.counter0 }}] = new google.maps.Marker({
                position: {
                    "lat": {{ value.Latitude }},
                    "lng": {{ value.Longitude }}
                },
                map: map,
                title: '{{ value.City }}, {{ value.State }} - {{ value.Zipcode }}'
            });
            markers[{{ forloop.counter0 }}].addListener('click', function () {
                windows[{{ forloop.counter0 }}].open(map, markers[{{ forloop.counter0 }}]);
            });
        {% endfor %}
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc0XLtT-jCG3-v0JFLo9vSr2xYljpRRh4&callback=initMap"
    async defer></script>

{% endblock %}
